<section class="header">
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
<img class="text-center" src="https://d1.awsstatic.com/serverless/Amazon-API-Gateway-How-Works.c9fc9835d2a9aa00ef90d0ddc4c6402a2536de0d.png" width="95%" alt="">
        </div>
    </div>
</div>
</section>
<div class="container mt-5">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="text-center"><b>Features Node Js Fundementals</b></h2>
            <hr style="margin-bottom: 3px solid black;">
        </div>
        <div class="col-sm-12">
            <ul class="list-group">
  <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores animi rem repudiandae. Tempora, expedita delectus sunt obcaecati quos corporis dolor dolore id deserunt eos doloribus aliquam incidunt nulla explicabo quo!</li>
  <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique consequuntur, blanditiis doloremque temporibus aspernatur quia at iure facilis ipsa, labore accusantium quisquam vitae, voluptatum sunt aut laboriosam! Officiis, corrupti reiciendis?</li>
  <li class="list-group-item">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit id vitae iusto incidunt exercitationem tempora vero debitis iste at rem quam iure harum provident eveniet accusantium, voluptatibus enim repellendus laborum.</li>
  <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, minima possimus odit ut fugiat deleniti autem sunt facere, sit fugit id officia neque eum dolor doloremque quia soluta eos aperiam.</li>
  <li class="list-group-item">Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt repudiandae quasi, perferendis laudantium natus consequuntur dignissimos odit debitis fuga autem rerum maxime magni est ratione, culpa a laboriosam, nisi nihil?</li>
</ul>
        </div>

    </div>

</div>
<section>
    
</section>


