

<style>
    .jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: .3rem;
}
</style>

<section class="header">
<div class="container">
    <div class="row">
        <div class="col-sm-7 mt-5">
            <h2><b>NODE JS EDUCATED</b></h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat laborum omnis possimus quisquam sint provident nam voluptatibus tenetur quo. Eius, qui labore blanditiis cum nesciunt voluptatem molestiae quo. Numquam, nostrum!</p>
            <button class="btn btn-info">Documentasi</button>
            <button class="btn btn-primary">Forum</button>
        </div>
        <div class="col-sm-5">
<img src="images/node.png" width="100%" alt="">
        </div>
    </div>
</div>
</section>
<section class="news">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
                <img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png" alt="" width="100%">
            </div>
            <div class="col-sm-6">
                <h2><b>Development Use Node Js</b></h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque aperiam quae, mollitia totam odit sequi vel repudiandae officia necessitatibus maiores at exercitationem inventore ex voluptatum voluptates, aut iste. Vero, maiores?</p>
            </div>
        </div>
    </div>

</section>
<section class="news">
    <div class="container mt-5">
        <div class="row">
            <div class="col-sm-6">
               <h2><b>Docker Use Node Js</b></h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Atque aperiam quae, mollitia totam odit sequi vel repudiandae officia necessitatibus maiores at exercitationem inventore ex voluptatum voluptates, aut iste. Vero, maiores?</p>
            </div>
            <div class="col-sm-6">
                  <img src="https://d2eip9sf3oo6c2.cloudfront.net/series/square_covers/000/000/120/square_480/EGH_NodeDocker_1000.png" alt="" width="100%">
               
            </div>
        </div>
    </div>

</section>

